[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-bootstrap-v5 = "*"
django-ckeditor = "*"
pillow = "*"
social-auth-core = "*"
python-social-auth = "*"
social-auth-app-django = "*"
django-dotenv = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
