:root{
    --white: hsl(0, 0%, 100%);
    --gray: #3e3d3d;
    --beige: #F8F5F0;
    --green: #173C39;
    --blue: #EEF6F5;
}

body{
    font-family: 'Radio Canada', sans-serif !important; 
    /* background: var(--white) !important; */
    /* 
    font-family: 'DM Serif Display', serif !important;
    font-family: 'DM Serif Text', serif !important;
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Playfair Display', serif !important;
    font-family: 'Poppins', sans-serif !important;
    font-family: 'Prata', serif !important;
    font-family: 'Radio Canada', sans-serif !important; 
    */
}

.btn-primary{
  background-color: var(--green) !important;
  color: var(--blue) !important; 
  border-radius: 1.5rem !important;
  border: 2px solid var(--green) !important;
  padding: 7px 25px !important;
  font-size: 18px !important;
  outline: none !important;
}

.btn-primary:hover{
  background-color: var(--blue) !important;
  border: 2px solid var(--green) !important;
  color: var(--green) !important; 

}

.btn-outline-primary{
  background-color: var(--blue) !important;
  color: var(--green) !important; 
  border-radius: 1.5rem !important;
  border: 2px solid var(--blue) !important;
  padding: 7px 25px !important;
  font-size: 18px !important;
  outline: none !important;
}

.btn-outline-primary:hover{
  background-color: var(--green) !important;
  border: 2px solid  var(--green) !important;
  color: var(--blue) !important; 
}

#footer{
  text-align: center !important;
  font-size: 12px !important;
}

/* HOME PAGE */

#welcome2, #dropdownuser2{
  color: var(--white) !important;
}

#taglineh1{
  color: var(--white) !important; 
  font-size: 60px;
  font-family: 'Montserrat', sans-serif !important; 
}

#taglineh4{
  color: var(--beige) !important; 
  font-family: 'Montserrat', sans-serif !important;
  font-style: italic !important;
}

#bach{
  font-weight: bold;
}

#logo{
  font-size: 28px !important;
  font-family: 'DM Serif Display', serif !important;
  font-style: italic !important;
}


#homeform{
  margin-top: 5% !important;
}

.form-check-input:checked{
  background: var(--green) !important;
  border: var(--green);
}


#twobuttons{
  text-align: center !important
}


#start{
 padding-left: 3%;
 color:var(--green) !important;
 /* text-align:center !important; */
}

#citybackground{
  margin-top: 6% !important;
  margin-bottom: 12% !important;
}

#city{
  color: var(--green) !important;
}

#squares{
  /* text-align: center !important; */
  /* justify-content: center !important; */
  margin-top: 3% !important;
  margin-bottom: 2% !important;
}

#cityimages{
  color: transparent !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
}


#cityimages:hover{
  display:flex !important;
  color: white !important;
  font-size: 48px !important;
  /* font-weight: bold; */
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: black !important;
  opacity: 75%;
  z-index: 100;
  font-family: 'Montserrat', sans-serif !important; 
}

#h3quote{
width:60%;
margin-left: 20%; 
font-family: 'Montserrat', sans-serif !important; 
font-size: 24px !important;
}

#quote{
  font-size: 50px !important;
  font-family: 'DM Serif Display', serif !important;
}

#contact{
  background: var(--beige) !important;
  padding: 3%;
}

.carousel-item{
  height: 350px !important;
  text-align: center !important;
  /* margin-bottom: 30px; */
  align-items: center !important;
}



/* EVENTS PAGE */
/* #eventdiv{
  width: 50%;
  height: 1000px;
  overflow-x: hidden;
  overflow-y: auto !important;
  direction: ttb; 
} */

/* #map{
  position:fixed;
  right: 20px;
  height: 1000px !important;

} */

#iconsearch{
  color: var(--green) !important;
}

#eventsin{
  border-bottom: 3px solid var(--green) !important;
  max-width: 450px;
}

.card{
  border:transparent !important;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-body-side{
  min-width: 55% !important;
}

.card-horizontal:hover{
  /* filter: brightness(110%);  */
  /* transform: translate3D(0,-1px,0) scale(1.03); */
}

.card-title{
  color: var(--gray) !important;
  font-weight: bold !important;
}

.card-text{
  color: var(--gray) !important;
}

.card-footer{
  align-self: center !important;
  background: transparent !important;
  border: none !important;
}

#iconarrow{
  display:none;
  background: transparent !important;
  border: none !important;
}

.card:hover #iconarrow{
  display:block !important;
  color: var(--green) !important;
  align-items: center !important;
  justify-content: center !important;
}

#dayborder{
    border: 2px solid black !important;
    width:50% !important;
    margin-left:8%;
    padding: 2%;
}

#daybordertop{
  border: 2px solid black !important;
  width:50% !important;
  margin-left:8%;
  border-radius: 25px 25px 0 0 ; 
  padding: 2%;

}

#dayborderbot{
  border: 2px solid black !important;
  width:50% !important;
  margin-left:8%;
  border-radius: 0 0  25px 25px; 
  padding: 2%;
}


#dayeventatag{
    text-decoration: none !important;
}

#dayeventptag{
    background: lightblue !important;

}

#schedhead{
  margin-left: 8% !important;
}

#day{
  font-weight: bold !important;
  font-size: 24px !important;
}







/* Home Slide */

#slider {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}

.slide-in {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-out {
  animation: slide-out 1s forwards;
  -webkit-animation: slide-out 1s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateY(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(-100%); }
}

#slider2 {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in2 {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-out {
  animation: slide-out 1s forwards;
  -webkit-animation: slide-out 1s forwards;
}
  
@keyframes slide-in2 {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in2 {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(0%); }
  100% { -webkit-transform: translate(-100%); }
}


@media only screen and (max-width: 800px){
  #biglogo{display:none;}
  #start{text-align: center !important; padding-left: 0% !important;}
  #homesqtitle{justify-content: center;}
}

@media only screen and (max-width: 1200px){
  #eventfilterform{
    display:none;
  }
}

@media only screen and (min-width: 800px){
  #smalllogo{display:none;}
}

#numdays{
  font-size: 18px !important;  
}