{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}

{% block google %}
<script src="https://maps.google.com/maps/api/js?key={{googleapi}}&sensor=false" type="text/javascript"></script>
{% endblock %}

{% block title %}
Bach Please | 
{% for head in header %}
{{head}}
{% endfor %}
{% endblock %}


{% block content %}
<div class="justify-content-center px-4 border-bottom">
<!-- <h3 class="text-center"> Start Planning </h3>  -->
<form method="get" action="{% url 'filter_view' %}">
     {% csrf_token %} 
     <!-- {{ city_filter.form|crispy }} -->
    <div class="form-group row justify-content-center">
        <div class="form-group col-md-2 px-3">
                {{ city_filter.form.city|as_crispy_field }}
        </div>
        <div class="form-group col-md-2 px-3">
            {{ city_filter.form.budget|as_crispy_field  }}
        </div>
        <div class="form-group col-md-4 px-4 ml-4">
            <div class="form-group">
                <label class>#Tags</label>
                <div>
                    <div class="row pt-2">
                        <div class="col">
                    {% for pk, choice in city_filter.form.tag.field.widget.choices %}
                     
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="form-check">
                                <input id="id_tag_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{pk}}" class="form-check-input" checked autocomplete="off">
                                <label for="id_tag_{{ forloop.counter0 }}" class="form-check-label" style="color:var(--green); float:left;"> {{ choice }} </label>
                            </div>
                        </div>
                        <div class="col">
                
                        {% else %}
                        <div class="form-check">
                            <input id="id_tag_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{pk}}" class="form-check-input" checked>
                            <label for="id_tag_{{ forloop.counter0 }}" class="form-check-label" style="color:var(--green); float:left;"> {{ choice }} </label>
                        </div>

                        {% endif %}
            
                    {% endfor %}
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group-row justiify-content-center pt-4" id="twobuttons">
        <button type="reset" class="btn btn-outline-primary">Reset</button>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
      
    
</form>
</br>
</div>

<div class="mt-4 px-4">
{% for head in header %}
<h1 id="eventsin"> <span id="iconsearch">{% bs_icon 'search' size='0.7em' %}</span> &nbsp Events in <span id="city">{{head}}</span></h1>
{% endfor %}

</div >

<div class="d-flex flex-row">
    
    <div class="col-md-6 card-group flex-column p-4" id="eventdiv">
        <h5 class="px-3"> {{events.count}} result(s): </h5>
        {% for event in events %}
            <div class="d-flex card justify-content-center align-items-center">
                <a href="{% url 'event_detail' event.pk %}" class="text-decoration-none">
                <div class="card-horizontal">
                    <div class="card-image">
                        <img class="card-img-side" src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_180,w_300/{{event.image}}" style="border-radius: 0.5rem" alt="Card image {{event.name}}">
                    </div>
                    <div class="card-body-side p-3 flex-row">
                        <div>
                            <h2 class="card-title">{{event.name}}</h2>
                        </div>
                        
                        <div class="horizon">
                            <h5 class="card-text flex-col">{{event.neighborhood}}</h5>
                            <h5 class="card-text flex-col">{{event.budget}}</h5>
                            
                           {% for tag in event.tag.all %}
                            <span style="color:var(--lightgray)">#{{tag.name}}&nbsp</span>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <span id="iconarrow">{% bs_icon 'arrow-right-circle' size='2.0em' %}</span>
                    </div>
                </div>
                </a>  
            </div>
            <hr>
        {% endfor %}  
    </div>

    <div class="col-md-6 justify-content-center p-4" id="mapdiv">
        <div id="map" style="width: 100%;height: 800px; border-radius: 0.5rem;">
        </div>
        <!-- Javascript Google Maps API -->
        <script type="text/javascript">
    
            let locations = [
            {% for event in events %}
                ['{{event.name}}',{{event.lat}},{{event.long}}],
            {% endfor%}
            ]
    
            let cityheader = [
            {% for head in header %}
                '{{head}}',
            {% endfor%}
            ]
            
            if(cityheader[0]=="Austin"){
                baselat = 30.26;
                baselong = -97.75; 
            }
    
            if(cityheader[0]=="Nashville"){
                baselat = 36.17;
                baselong = -86.78; 
            }
    
            if(cityheader[0]=="Miami"){
                baselat = 25.80;
                baselong = -80.18; 
            }
    
            let map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: new google.maps.LatLng(baselat, baselong),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
        
            let infowindow = new google.maps.InfoWindow();
        
            let marker, i;
        
            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map
              });
        
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                  infowindow.setContent(locations[i][0]);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }
        </script>
    </div>

</div>


{% endblock %}

