{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
Bach Please | {{header}}
{% endblock %}


{% block content %}

</br>
<h1> Start Planning </h1> 
<form method="get" action="{% url 'filter_view' %}">
     {% csrf_token %} 
     {{ city_filter.form }}
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</br>


{% for head in header %}
<h1>Events in {{head}}</h1>
{% endfor %}

    <h3>List </h3>
    {% for event in events %}

    <a href="{% url 'event_detail' event.pk %}">
        <h3>{{event.name}}</h3>
        <p>{{event.description|safe}}</p>
        <p>{{event.neighborhood}}</p>
        <img src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_300,w_300/{{event.image}}" alt="{{event.name}} image">
    <hr>
    </a>
   
    {% endfor %}  
{% endblock %}