{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block title %}
Bach Please | {{header}}
{% endblock %}


{% block content %}

</br>
<h1> Start Planning </h1> 
<form method="get" action="">
     {% csrf_token %} 
     {{ city_filter.form }}
      <button type="submit" class="btn btn-primary">Submit</button>
</form>
</br>


{% for head in header %}
<h1>Events in {{head}}</h1>
{% endfor %}

{% for tag in tags %}
<h1>{{tag}}</h1>
{% endfor %}

    <h3>List </h3>
    {% for event in events %}
    <img src = "https://res.cloudinary.com/skim121/image/upload/c_fill,g_face,h_1000,w_1000/{{event.image}}" alt="{{event.name}} image">
    <a href="{% url 'event_detail' event.pk %}">
        <p>{{event.description|safe}}</p>
        <p>{{event.neighborhood}}</p>
    <hr>
    </a>
   
    {% endfor %}  
{% endblock %}