{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}

{% block title %}
Bach Please
{% endblock %}


{% block content %}
<div style="width:60%; margin-left: 20%; border:2px solid gray; justify-items: center; align-items: center; align-self: center; align-content: center;">
    <img class="card-img-side" src = "https://res.cloudinary.com/skim121/image/upload/c_scale,h_400/{{event.image}}" style="border-radius: 8px; object-fit: cover; align-self: center;" alt="Card image {{event.name}}" >
    <!-- <img class="card-img-side" src = "https://res.cloudinary.com/skim121/image/upload/ar_2.5,c_crop,w_1100/{{event.image}}" style="border-radius: 8px; object-fit: cover; align-self: center;" alt="Card image {{event.name}}" > -->
</div>

    
<div class="container dflex justify-content-center">
    
    <h1>{{event.name}}</h1>
    <p> {{event.budget}}</p>
    <p> {{event.capacity}}</p>
    <p> {{event.city}}</p>
    <p> {{event.neighborhood}}</p>
    <p> {{event.website}}</p>
    {% for tag in event.tag.all %}
    <p> {{tag.name}}</p>
    {% endfor %}
    {{event.description|safe}}
</div>

    
    
    {% if request.user.is_authenticated %}
        {% if is_fav %}
        <a href="{% url 'fav_add' event.id %}"><button class="btn btn-outline-primary"> Remove from favorites </button></a>  
        {% else %}
    <a href="{% url 'fav_add' event.id %}"><button class="btn btn-outline-primary"> Add to favorites </button></a> 
        {% endif %}
    {% else %}
    <a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-outline-primary"> Log In to Add </button></a>
    {% endif %}

{% endblock %}