{% extends 'base.html' %}
{% load static %}

{% block title %}
Bach Please
{% endblock %}

{% block content %}
<h1> HOME </h1>

{% if user.is_authenticated %}
<h3> Welcome, {{ user.first_name}}!</h3>
<a href="/logout"> Log Out</a>
{% else %}
<a href = "{% url 'social:begin' 'google-oauth2' %}"> Sign In with Google</a>
{% endif %}


</br>
<h1> Start Planning </h1> 
<form method="get" action="{% url 'filter_view' %}">
     {% csrf_token %} 
     {{ event_filter.form }}
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

</br>

<li><a href="/austin">Austin</a></li>
<li><a href="/nashville">Nashville</a></li>
<li><a href="/miami">Miami</a></li>



{% endblock %}

