{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
Bach Please
{% endblock %}

{% block content %}

<div>
      
</div>


<h1> Start Planning </h1> 
<form method="get" action="{% url 'filter_view' %}">
     {% csrf_token %} 
     {{ event_filter.form|crispy }}
      <button type="submit" class="btn btn-primary">Submit</button>
</form>

</br>

<li><a href="/austin">Austin</a></li>
<li><a href="/nashville">Nashville</a></li>
<li><a href="/miami">Miami</a></li>



{% endblock %}

