{% extends 'basehome.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load bootstrap_icons %}

{% block title %}
Bach Please
{% endblock %}

{% block content %}

<div>
      <div class="background-image"  style="background-image:url('./static/images/bphome2.png'); width:100%; height:500px; background-size:cover; background-repeat:no-repeat; box-shadow: 0px 5px 12px #a1a0a0"> 
            <header class="d-flex flex-wrap align-items-center justify-content-around justify-content-md-between px-5 py-3 mb-4">
                  <div id="biglogo">
                        <a href="/" class="d-flex align-items-center col mb-md-0 text-dark text-decoration-none">
                            <h1 class="align-items-center mb-0" style="color:white;" id="logo">Bach Please</h1>
                        </a>
                    </div>
                    <div id="smalllogo">
                        <a href="/" class="d-flex align-items-center col mb-md-0 text-dark text-decoration-none">
                            <h1 class="align-items-center mb-0" style="color:white;" id="logo">BP</h1>
                        </a>
                    </div>
                    
                    <div class="col-md-3 text-end dropdown">
                      {% if user.is_authenticated %}
                      <a href="#" class="dropdown-toggle text-decoration-none link-dark" id="dropdownuser" data-bs-toggle="dropdown" aria-expanded="false">
                            <span  style="color:wwhite;">Welcome, {{ user.first_name}}</span>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownuser" style="">
                          <li><a class="dropdown-item" href="{% url 'profile' user.id %}">My Plans</a></li>
                          <li><a href="/admin" class="dropdown-item">Admin</a></li>
                          {% if request.user.superuser %}
                          <li><a href="/" class="dropdown-item">Add Events</a></li>
                          {% endif %}
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                      {% else %}
                      <a href="{% url 'social:begin' 'google-oauth2' %}" class="text-decoration-none">
                      <button type="button" class="btn btn-primary">Sign In with Google</button>
                      </a>
                      {% endif %}
                    </div>
            </header>
        </br>

           <div style="text-align:center; padding-bottom:15%; padding-left:20%; padding-right:20%">
            <div id="slider" class="slide-in">
                <h1 id="taglineh1"> We got your <span id="bach">BACH</span></h1> 
            </div>
            <div id="slider2" class="slide-in2">  
                <h4 id="taglineh4"> Curate the perfect getaway for your special person</h4>
            </div>
            <div id="homeform">
            <form method="get" action="{% url 'filter_view' %}">
                 {% csrf_token %} 
    
                 <div class="form-group row mx-0 mt-5 justify-content-center">
                    <div class="form-group col-md-3" style="height:120px; background:white; border:2px solid white; border-radius: 25px 0 0 25px; padding: 2% 5%;">
                        {{ event_filter.form.city|as_crispy_field }}
                    </div>
                  
                    <div class="form-group col-md-5" style=" background:white; border:2px solid white; text-align: center; justify-content: center; align-items: center; align-self: center; height:120px; padding:1%;">
                        <div class="form-group">
                            <!-- <label class>Tag</label> -->
                        
                            <div>
                                <div class="row pt-2">
                                    <div class="col">
                                {% for pk, choice in event_filter.form.tag.field.widget.choices %}
                                    
                                    {% if forloop.counter|divisibleby:3 %}
                                
                                    
                                        <div class="form-check">
                                            <input id="id_tag_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{pk}}" class="form-check-input">
                                            <label for="id_tag_{{ forloop.counter0 }}" class="form-check-label" style="color:var(--green)"> {{ choice }} </label>
                                        </div>
                                    </div>
                                    <div class="col">
                            
                                    {% else %}
                                    <div class="form-check">
                                        <input id="id_tag_{{ forloop.counter0 }}" name="tag" type="checkbox" value="{{pk}}" class="form-check-input">
                                        <label for="id_tag_{{ forloop.counter0 }}" class="form-check-label" style="color:var(--green)"> {{ choice }} </label>
                                    </div>

                                    {% endif %}
                        
                                {% endfor %}
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2" style="background:white; border:2px solid white; border-radius: 0 25px 25px 0; height:120px; padding:3%;" id="twobuttons">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>

                  </div>

              
            </form>
        </div>
           </div> 
            



      </div>
</div>

</br>

<div class="row" id="squares">
    <div class="col-lg-3 d-flex align-items-center justify-content-around mb-3" id="homesq">
        <h2 id="start">Explore popular cities</h2>
    </div>
    
    <div class="col-lg-3 d-flex justify-content-around mb-3" id="homesq">
        <a href="/austin" class="text-decoration-none">
        <div style="background-image:url('./static/images/austin2.jpeg'); width:280px; height:280px; background-size:cover; background-repeat:no-repeat; margin:0; border-radius:0.5rem;">
            <div id="cityimages" style="width:280px; height:280px;border-radius:0.7rem;"><span id="citytext">Austin</span></div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 d-flex justify-content-around mb-3" id="homesq">
        <a href="/nashville" class="text-decoration-none">
        <div style="background-image:url('./static/images/nashville1.jpg'); width:280px; height:280px; background-size:cover; background-repeat:no-repeat; margin:0; border-radius:0.5rem;">
            <div id="cityimages" style="width:280px; height:280px;border-radius:0.7rem;"><span id="citytext">Nashville</span></div>
        </div>
        </a>
    </div>
    <div class="col-lg-3 d-flex justify-content-around mb-3" id="homesq">
        <a href="/miami" class="text-decoration-none">
        <div style="background-image:url('./static/images/miami.jpg'); width:280px; height:280px; background-size:cover; background-repeat:no-repeat; margin:0; border-radius:0.5rem;">
            <div id="cityimages" style="width:280px; height:280px;border-radius:0.7rem;"><span id="citytext">Miami</span></div>
        </div>
        </a>
    </div>
</div>



<div id="contact">
<h3>Contact US</h3>

</br>
</br>
</br>
</br>



</div>

{% endblock %}

