{% extends 'base.html' %}
{% load static %}

{% block title %}
Bach Please
{% endblock %}


{% block content %}

<div class="container justify-content-center text-align-center" id="yourplans">
    <h1 id="yourplans">Your Plans</h1>
    <a href="{% url 'schedule_create' %}"> <button class="btn btn-outline-primary">Add New Schedule</button></a>   
</div>

<div class="justify-content-center mt-5" style="width:80%; margin-left: 10%; margin-bottom: 10%;" id="yourplans">
<h3 class="container mb-0 pt-4 border-top" > Currently planning </h3>
<div class="row mx-4">
    {% for schedule in future %}
    <div class="col-3 m-5 p-1 dflex">
        <a href="{% url 'schedule_detail' schedule.pk %}" class="text-decoration-none" style="color:var(--gray);">
            <div class="row">
                <div class="col-xl-3 p-0" style="width:100px;height:100px">
                    <img src="{% static 'images/tart.png' %}" style="width:100px; height: 100px; border-radius:8px;object-fit: cover; padding:0; margin:0;">
                </div>
                <div class="col-xl-8 pb-0" style="align-self:center; padding-left:3%;">
                    <h5 style="font-weight:bold;">{{schedule.name}}</h5>
                    <p style="color:var(--medgray)">{{schedule.city}}</p>
                    <p class="mb-0" style="color:var(--medgray)">{{schedule.date_in}} - {{schedule.date_out}} </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}  
</div>


<h3 class="container pt-5 mb-0"> Past plans</h3>
<div class="row mx-4">
    {% for schedule in past %}
    <div class="col-3 m-5 p-1 dflex" >
        <a href="{% url 'schedule_detail' schedule.pk %}" class="text-decoration-none" style="color:var(--gray);">
            <div class="row">
                <div class="col-xl-3 p-0" style="width:100px;height:100px">
                        <img src="{% static 'images/cham.png' %}" style="width:100px; height: 100px; border-radius:8px;object-fit: cover; padding:0; margin:0;">
                </div>
                <div class="col-xl-8 pb-0" style="align-self:center; padding-left:3%;">
                    <h5 style="font-weight:bold;">{{schedule.name}}</h5>
                    <p style="color:var(--medgray)">{{schedule.city}}</p>
                    <p class="mb-0" style="color:var(--medgray)">{{schedule.date_in}} - {{schedule.date_out}} </p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}  
</div>
</div>




{% endblock %}