{% extends 'base.html' %}
{% load static %}

{% block title %}
Bach Please
{% endblock %}


{% block content %}

<h1>Profile: {{user.first_name}} {{user.last_name}}</h1>

<a href="{% url 'schedule_create' %}">Add New Schedule</a>

{% for schedule in schedules %}
    <a href="{% url 'schedule_detail' schedule.pk %}">
        <p>{{schedule.name}}</p>
    </a>
{% endfor %}  
<h1> Past</h1>
{% for schedule in past %}
    <a href="{% url 'schedule_detail' schedule.pk %}">
        <p>{{schedule.name}}</p>
    </a>
{% endfor %}  
<h1> Future </h1>
{% for schedule in future %}
    <a href="{% url 'schedule_detail' schedule.pk %}">
        <p>{{schedule.name}}</p>
    </a>
{% endfor %}  



{% endblock %}