{% extends 'base.html' %}
{% load static %}

{% block title %}
Bach Please
{% endblock %}


{% block content %}

    <h1>{{schedule.name}}</h1>
    <p>{{schedule.date_in}}</p>
    <p>{{schedule.date_out}}</p>
    <p>{{schedule.numdays}}</p>
    <p>{{schedule.city}}</p>

    
    {% for i in looptimes %}
    <div id="dayborder">
        <a href="{% url 'day_event_create' schedule.id %}" class="text-decoration-none float-right">+</a>
        <p> Day {{i}} </p> 
        {% for d in dayevents %}
        {% if d.day == i %}
        {% for e in d.event.all %}
       <p> {{ e.id }} </p>
       
        <a href = "{% url 'event_detail' e.id %}" id="dayeventatag">
            <p id="dayeventptag">{{e.name}}</p>
        </a>
        {% endfor %}
        {% endif %}
        {% endfor %}
    </div>
    



    {% endfor %}







{% for event in events %}
    <a href="{% url 'event_detail' event.pk %}">
        <p>{{event.name}}</p>
    </a>
{% endfor %}  






<a href="{% url 'schedule_delete' schedule.pk %}"> Delete </a>

{% endblock %}