{% extends 'base.html' %}
{% load static %}

{% block title %}
Bach Please
{% endblock %}


{% block content %}

  <div id="schedhead">
    <h1>Plan: {{schedule.name}}</h1>
    <h4> In: {{schedule.city}}</h4>
    <h4> Dates: {{schedule.date_in}} - {{schedule.date_out}} <span class="text-muted"id="numdays"> ({{schedule.numdays}} days)</span></h4>
</br>
<a href="{% url 'schedule_update' schedule.pk %}" class="text-decoration-none"> <button class="btn btn-outline-primary">Edit</button> </a>
<a href="{% url 'schedule_delete' schedule.pk %}" class="text-decoration-none"> <button class="btn btn-primary">Delete </button> </a>
</div>
</br>
</br>


    {% for i in looptimes %}
    {% if forloop.first %}
    <div id="daybordertop">
        <a href="{% url 'day_event_create' schedule.id %}" class="text-decoration-none float-right">+</a>
        <p id="day"> Day {{i}} </p> 
        {% for d in dayevents %}
            {% if d.day == i %}
            <a href="{% url 'dayevent_delete' d.pk %}"> Delete </a>
            <a href = "{% url 'event_detail' d.event.id %}" id="dayeventatag">
                <p id="dayeventptag">{{d.event}}</p>
            </a>
            {% endif %}
        {% endfor %}
    </div>    

    {% elif forloop.last %}
    <div id="dayborderbot">
        <a href="{% url 'day_event_create' schedule.id %}" class="text-decoration-none float-right">+</a>
        <p id="day"> Day {{i}} </p> 
        {% for d in dayevents %}
            {% if d.day == i %}
            <a href="{% url 'dayevent_delete' d.pk %}"> Delete </a>
            <a href = "{% url 'event_detail' d.event.id %}" id="dayeventatag">
                <p id="dayeventptag">{{d.event}}</p>
            </a>
            {% endif %}
        {% endfor %}
    </div>    

    {% else %}

    <div id="dayborder">
        <a href="{% url 'day_event_create' schedule.id %}" class="text-decoration-none float-right">+</a>
        <p id="day"> Day {{i}} </p> 
        {% for d in dayevents %}
            {% if d.day == i %}
            <a href="{% url 'dayevent_delete' d.pk %}"> Delete </a>
            <a href = "{% url 'event_detail' d.event.id %}" id="dayeventatag">
                <p id="dayeventptag">{{d.event}}</p>
            </a>
            {% endif %}
        {% endfor %}
    </div>    

    {% endif %}
    {% endfor %}

<h4> Favorite Events from {{schedule.city}} </h4>
{% for event in events %}
    <a href="{% url 'event_detail' event.pk %}">
        <p>{{event.name}}</p>
    </a>
{% endfor %}  







{% endblock %}